[ay-theme="high-contrast"] .table-area tr,
[ay-theme="high-contrast"] .table-area .sub-row-title-td,
[ay-theme="high-contrast"] .table-area .row-highlight td,
[ay-theme="high-contrast"] .table-area ul.multi-line-text li:not(:last-child) {
  color: var(--ay-font-color);
}

[ay-theme="high-contrast"] .table-area table * {
  color: var(--ay-font-color) !important;
}

[ay-theme="high-contrast"] .table-area thead th,
[ay-theme="high-contrast"] .table-area tr,
[ay-theme="high-contrast"] .table-area tr td {
  background: var(--ay-bg);
}

[ay-theme="high-contrast"] .table-area tr td {
  background: var(--ay-bg) !important;
}

[ay-theme="high-contrast"] .table-area table {
  border: 1px solid var(--ay-alt);
}

[ay-theme="high-contrast"] .table-area thead th,
[ay-theme="high-contrast"] .table-area table tr:not(:last-child) {
  border-bottom: 1px solid var(--ay-alt);
}

[ay-theme="high-contrast"] .table-area th:not(:last-child),
[ay-theme="high-contrast"] .table-area td:not(:last-child) {
  border-right: 1px solid var(--ay-alt);
}

[ay-theme="high-contrast"] .table-area th {
  filter: contrast(0.95);
}

[ay-theme="high-contrast"] .table-area tr:not(.row-highlight, .sub-row-title, .total-row, .sub-total-row):nth-child(even) td {
  filter: contrast(0.85) !important;
}

[ay-theme="high-contrast"] .table-area tr:not(.row-highlight, .sub-row-title, .total-row, .sub-total-row):nth-child(odd) td {
  filter: contrast(0.75) !important;
}

[ay-theme="high-contrast"] .table-area a:hover {
  color: var(--ay-alt) !important;
}
