[ay-theme="light-background"] .table-wrap table tr,
[ay-theme="light-background"] .table-wrap table .sub-row-title-td,
[ay-theme="light-background"] .table-wrap table .row-highlight td,
[ay-theme="light-background"] .table-wrap table ul.multi-line-text li:not(:last-child) {
  color: var(--ay-font-color);
}

[ay-theme="light-background"] .table-wrap table * {
  color: var(--ay-font-color) !important;
}

[ay-theme="light-background"] .table-wrap table thead th,
[ay-theme="light-background"] .table-wrap table tr,
[ay-theme="light-background"] .table-wrap table tr td {
  background: var(--ay-bg);
}

[ay-theme="light-background"] .table-wrap table tr td {
  background: var(--ay-bg) !important;
}

[ay-theme="light-background"] .table-wrap table {
  border: 1px solid var(--ay-font-color);
}

[ay-theme="light-background"] .table-wrap table thead th,
[ay-theme="light-background"] .table-wrap table tr:not(:last-child) {
  border-bottom: 1px solid var(--ay-font-color);
}

[ay-theme="light-background"] .table-wrap table th:not(:last-child),
[ay-theme="light-background"] .table-wrap table td:not(:last-child) {
  border-right: 1px solid var(--ay-font-color);
}

[ay-theme="light-background"] .table-wrap table th {
  filter: contrast(0.95);
}

[ay-theme="light-background"] .table-wrap table tr:not(.row-highlight, .sub-row-title, .total-row, .sub-total-row):nth-child(even) td {
  filter: contrast(0.85) !important;
}

[ay-theme="light-background"] .table-wrap table tr:not(.row-highlight, .sub-row-title, .total-row, .sub-total-row):nth-child(odd) td {
  filter: contrast(0.75) !important;
}

[ay-theme="light-background"] .table-wrap table a:hover {
  opacity: 0.8;
}
