/*** Detail page Common Styling ***/
[ay-theme="high-contrast"] .detail-header *,
[ay-theme="high-contrast"] .social-share *,
[ay-theme="high-contrast"] .detail-attachment * {
  color: var(--ay-font-color);
}

[ay-theme="high-contrast"] .hoai-share-icon-title:hover {
  color: var(--ay-alt);
}

[ay-theme="high-contrast"] .a2a_kit {
  border-top: 1px solid var(--ay-alt);
}

[ay-theme="high-contrast"] .hoai-share-icon {
  filter: hue-rotate(40deg) brightness(2.8);
}

[ay-theme="high-contrast"] .hoai-share-links a {
  filter: brightness(1) invert(0) grayscale(5);
  background-color: var(--ay-alt);
}

[ay-theme="high-contrast"] .hoai-share-icon:hover,
[ay-theme="high-contrast"] .hoai-share-links a:hover {
  opacity: 0.8;
}


/*** END OF Detail page Common Styling ***/
