[ay-theme="high-contrast"] .ast-accordion-title {
  color: var(--ay-font-color);
}

[ay-theme="high-contrast"] .ast-accordion-title::after {
  filter: brightness(0) invert(1);
}

[ay-theme="high-contrast"] .ast-accordion-title {
  border: 1px solid var(--ay-alt);
}

[ay-theme="high-contrast"] .ast-accordion-item:not(:last-child) .ast-accordion-title {
  border-bottom: 0;
}

[ay-theme="high-contrast"] .active>.ast-accordion-title {
  background: transparent;
  border-bottom: 0;
}
