.contact-card-content {
  display: block;
  margin: 0 auto;
}

.contact-card {
  padding: 30px 20px;
}

.contact-card-content>div {
  width: 100% !important;
  padding: 0 0 20px;
}

.contact-card-content>div:last-child {
  padding-bottom: 0;
}

.contact-card-content>div:not(:last-child) {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--br-c2);
}

.contact-card-content>div:not(:last-child)::after {
  display: none;
}
