/* >>> Header Menu For Smaller devices <<< */
[ay-theme="negative-contrast"] .site-header .navbar-nav>.nav-item>a,
[ay-theme="negative-contrast"] .site-header .sub-link>a {
  color: var(--ay-font-color);
}

[ay-theme="negative-contrast"] .site-header li.has-sub>ul {
  background: var(--ay-bg);
}

[ay-theme="negative-contrast"] .header-mid-right {
  border: 2px solid var(--ay-font-color);
}

[ay-theme="negative-contrast"] .site-header li.has-sub>ul {
  border: 1px solid var(--ay-font-color);
}
