a {
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: normal;
}

h4 {
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Border radius on input on safari browsers */
input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

input {
  -webkit-appearance: none;
}

input {
  -webkit-border-radius: 0;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: auto;
}

/* End of Border radius on input on safari browsers */

.bg-gray {
  background: var(--bg-c1);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
