/*** Common ***/
.non-touch-device .table-wrap::-webkit-scrollbar {
  /* height: 8px; */
  height: 7px;
  background-color: var(--bg-c5);
}

.non-touch-device .table-wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--gray);
  border-top: 1px solid var(--bg-c5);
  border-bottom: 1px solid var(--bg-c5);
}

table {
  display: none;
}

.table-wrap table p {
  margin-bottom: 0 !important;
}

.table-wrap table.loaded {
  display: table;
}

.table-wrap table a {
  display: inline-block;
}

.table-wrap table a:not(:hover) {
  color: var(--fc-c1);
}

.table-wrap table a {
  text-decoration: underline;
}

.table-wrap thead th {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  /* color: var(--fc-c1); */
  color: var(--white);
  /* background: var(--bg-c7); */
  background: var(--bg-c8);
  vertical-align: middle;
}

.table-wrap table {
  margin-bottom: 0;
}


.table-wrap thead,
.table-wrap tbody,
.table-wrap tfoot,
.table-wrap tr,
.table-wrap td,
.table-wrap th {
  border: 0;
}

.table-wrap th,
.table-wrap td {
  padding: 10px 45px 10px 15px;
}

.table-wrap tr,
.table-wrap tr td {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--fc-c1);
  vertical-align: middle;
}

.table-wrap .sub-row-title-td,
.table-wrap .row-highlight td {
  font-weight: 700;
  /* background: var(--bg-c1); */
  background: var(--bg-c9);
  color: var(--black);
}

.table-wrap td {
  position: relative;
  min-width: 150px;
}

.table-wrap td .editor-icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin: 0 !important;
  transform: translateY(-50%);
  z-index: 1;
}

.table-wrap td .editor-icon a {
  width: 10px !important;
  height: 10px !important;
  background-size: 15px !important;
  padding: 11px;
}


/*** Multiline ul li without bullet points inside table ***/
.table-wrap table ul.multi-line-text {
  list-style-type: none;
  padding-left: 0;
}

.table-wrap table ul.multi-line-text li:not(:last-child) {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--fc-c1);
  margin-bottom: 12px;
}

/*** END OF Multiline ul li without bullet points inside table ***/

/*** END OF Common ***/
/*** New Table Modification ***/
.table-wrap th:not(:last-child),
.table-wrap td:not(:last-child) {
  border-right: 1px solid var(--white);
}

.table-wrap tr:not(.row-highlight, .sub-row-title, .total-row):nth-child(even) td {
  background: var(--bg-c10);
  transition: all 0.3s ease;
}

.table-wrap tr:not(.row-highlight, .sub-row-title, .total-row):nth-child(odd) td {
  background: var(--bg-c11);
  transition: all 0.3s ease;
}

.table-wrap tr:not(.row-highlight, .sub-row-title, .total-row, .sub-total-row):nth-child(even):hover td,
.table-wrap tr:not(.row-highlight, .sub-row-title, .total-row, .sub-total-row):nth-child(odd):hover td {
  filter: contrast(0.8);
}

/*** END OF New Table Modification ***/
